<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Aerofoil</title>

    <link rel="stylesheet" href="/assets/stylesheets/styles.css">
    <link rel="stylesheet" href="/assets/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="wrapper">
  <header>
      <a href="/"><img src="https://raw.githubusercontent.com/aerofoil/graphics/master/logos/logo-web.png" alt="Aerofoil"></a>
      <h3>contact</h3>
      <p><a href="mailto:root@aerofoil.org">root@aerofoil.org</a></p>
      <p><a href="mailto:dev@aerofoil.org">dev@aerofoil.org</a></p>
      <p><a href="irc://irc.freenode.net/aerofoil">#aerofoil on irc.freenode.net</a> (<a href="http://webchat.freenode.net/?channels=%23aerofoil&uio=OT10cnVlde">freenode webchat</a>)</p>
      <p><a href="https://botbot.me/irc.freenode.net/aerofoil">IRC logs</a></p>
      <p><a href="/man1">man</a></p>
      <center><a href="https://github.com/aerofoil"><img src="https://octodex.github.com/images/original.png" width="64" alt="Aerofoil on GitHub"></a></center>
  </header>
  <section>
